<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiyangdian.mapper.XxAdminRoleMapper" >
  <resultMap id="BaseResultMap" type="com.baiyangdian.pojo.XxAdminRoleKey" >
    <id column="admins" property="admins" jdbcType="BIGINT" />
    <id column="roles" property="roles" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    admins, roles
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.baiyangdian.pojo.XxAdminRoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xx_admin_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.baiyangdian.pojo.XxAdminRoleKey" >
    delete from xx_admin_role
    where admins = #{admins,jdbcType=BIGINT}
      and roles = #{roles,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.baiyangdian.pojo.XxAdminRoleExample" >
    delete from xx_admin_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.baiyangdian.pojo.XxAdminRoleKey" >
    insert into xx_admin_role (admins, roles)
    values (#{admins,jdbcType=BIGINT}, #{roles,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.baiyangdian.pojo.XxAdminRoleKey" >
    insert into xx_admin_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="admins != null" >
        admins,
      </if>
      <if test="roles != null" >
        roles,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="admins != null" >
        #{admins,jdbcType=BIGINT},
      </if>
      <if test="roles != null" >
        #{roles,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.baiyangdian.pojo.XxAdminRoleExample" resultType="java.lang.Integer" >
    select count(*) from xx_admin_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update xx_admin_role
    <set >
      <if test="record.admins != null" >
        admins = #{record.admins,jdbcType=BIGINT},
      </if>
      <if test="record.roles != null" >
        roles = #{record.roles,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update xx_admin_role
    set admins = #{record.admins,jdbcType=BIGINT},
      roles = #{record.roles,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>