<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiyangdian.mapper.XxMessageMapper" >
  <resultMap id="BaseResultMap" type="com.baiyangdian.pojo.XxMessage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="is_draft" property="isDraft" jdbcType="BIT" />
    <result column="receiver_delete" property="receiverDelete" jdbcType="BIT" />
    <result column="receiver_read" property="receiverRead" jdbcType="BIT" />
    <result column="sender_delete" property="senderDelete" jdbcType="BIT" />
    <result column="sender_read" property="senderRead" jdbcType="BIT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="for_message" property="forMessage" jdbcType="BIGINT" />
    <result column="receiver" property="receiver" jdbcType="BIGINT" />
    <result column="sender" property="sender" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.baiyangdian.pojo.XxMessage" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_date, modify_date, ip, is_draft, receiver_delete, receiver_read, sender_delete, 
    sender_read, title, for_message, receiver, sender
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.baiyangdian.pojo.XxMessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xx_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.baiyangdian.pojo.XxMessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xx_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xx_message
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from xx_message
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.baiyangdian.pojo.XxMessageExample" >
    delete from xx_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.baiyangdian.pojo.XxMessage" >
    insert into xx_message (id, create_date, modify_date, 
      ip, is_draft, receiver_delete, 
      receiver_read, sender_delete, sender_read, 
      title, for_message, receiver, 
      sender, content)
    values (#{id,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{ip,jdbcType=VARCHAR}, #{isDraft,jdbcType=BIT}, #{receiverDelete,jdbcType=BIT}, 
      #{receiverRead,jdbcType=BIT}, #{senderDelete,jdbcType=BIT}, #{senderRead,jdbcType=BIT}, 
      #{title,jdbcType=VARCHAR}, #{forMessage,jdbcType=BIGINT}, #{receiver,jdbcType=BIGINT}, 
      #{sender,jdbcType=BIGINT}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.baiyangdian.pojo.XxMessage" >
    insert into xx_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="isDraft != null" >
        is_draft,
      </if>
      <if test="receiverDelete != null" >
        receiver_delete,
      </if>
      <if test="receiverRead != null" >
        receiver_read,
      </if>
      <if test="senderDelete != null" >
        sender_delete,
      </if>
      <if test="senderRead != null" >
        sender_read,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="forMessage != null" >
        for_message,
      </if>
      <if test="receiver != null" >
        receiver,
      </if>
      <if test="sender != null" >
        sender,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="isDraft != null" >
        #{isDraft,jdbcType=BIT},
      </if>
      <if test="receiverDelete != null" >
        #{receiverDelete,jdbcType=BIT},
      </if>
      <if test="receiverRead != null" >
        #{receiverRead,jdbcType=BIT},
      </if>
      <if test="senderDelete != null" >
        #{senderDelete,jdbcType=BIT},
      </if>
      <if test="senderRead != null" >
        #{senderRead,jdbcType=BIT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="forMessage != null" >
        #{forMessage,jdbcType=BIGINT},
      </if>
      <if test="receiver != null" >
        #{receiver,jdbcType=BIGINT},
      </if>
      <if test="sender != null" >
        #{sender,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.baiyangdian.pojo.XxMessageExample" resultType="java.lang.Integer" >
    select count(*) from xx_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update xx_message
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyDate != null" >
        modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ip != null" >
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.isDraft != null" >
        is_draft = #{record.isDraft,jdbcType=BIT},
      </if>
      <if test="record.receiverDelete != null" >
        receiver_delete = #{record.receiverDelete,jdbcType=BIT},
      </if>
      <if test="record.receiverRead != null" >
        receiver_read = #{record.receiverRead,jdbcType=BIT},
      </if>
      <if test="record.senderDelete != null" >
        sender_delete = #{record.senderDelete,jdbcType=BIT},
      </if>
      <if test="record.senderRead != null" >
        sender_read = #{record.senderRead,jdbcType=BIT},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.forMessage != null" >
        for_message = #{record.forMessage,jdbcType=BIGINT},
      </if>
      <if test="record.receiver != null" >
        receiver = #{record.receiver,jdbcType=BIGINT},
      </if>
      <if test="record.sender != null" >
        sender = #{record.sender,jdbcType=BIGINT},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update xx_message
    set id = #{record.id,jdbcType=BIGINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      ip = #{record.ip,jdbcType=VARCHAR},
      is_draft = #{record.isDraft,jdbcType=BIT},
      receiver_delete = #{record.receiverDelete,jdbcType=BIT},
      receiver_read = #{record.receiverRead,jdbcType=BIT},
      sender_delete = #{record.senderDelete,jdbcType=BIT},
      sender_read = #{record.senderRead,jdbcType=BIT},
      title = #{record.title,jdbcType=VARCHAR},
      for_message = #{record.forMessage,jdbcType=BIGINT},
      receiver = #{record.receiver,jdbcType=BIGINT},
      sender = #{record.sender,jdbcType=BIGINT},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update xx_message
    set id = #{record.id,jdbcType=BIGINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      ip = #{record.ip,jdbcType=VARCHAR},
      is_draft = #{record.isDraft,jdbcType=BIT},
      receiver_delete = #{record.receiverDelete,jdbcType=BIT},
      receiver_read = #{record.receiverRead,jdbcType=BIT},
      sender_delete = #{record.senderDelete,jdbcType=BIT},
      sender_read = #{record.senderRead,jdbcType=BIT},
      title = #{record.title,jdbcType=VARCHAR},
      for_message = #{record.forMessage,jdbcType=BIGINT},
      receiver = #{record.receiver,jdbcType=BIGINT},
      sender = #{record.sender,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.baiyangdian.pojo.XxMessage" >
    update xx_message
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="isDraft != null" >
        is_draft = #{isDraft,jdbcType=BIT},
      </if>
      <if test="receiverDelete != null" >
        receiver_delete = #{receiverDelete,jdbcType=BIT},
      </if>
      <if test="receiverRead != null" >
        receiver_read = #{receiverRead,jdbcType=BIT},
      </if>
      <if test="senderDelete != null" >
        sender_delete = #{senderDelete,jdbcType=BIT},
      </if>
      <if test="senderRead != null" >
        sender_read = #{senderRead,jdbcType=BIT},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="forMessage != null" >
        for_message = #{forMessage,jdbcType=BIGINT},
      </if>
      <if test="receiver != null" >
        receiver = #{receiver,jdbcType=BIGINT},
      </if>
      <if test="sender != null" >
        sender = #{sender,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.baiyangdian.pojo.XxMessage" >
    update xx_message
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      ip = #{ip,jdbcType=VARCHAR},
      is_draft = #{isDraft,jdbcType=BIT},
      receiver_delete = #{receiverDelete,jdbcType=BIT},
      receiver_read = #{receiverRead,jdbcType=BIT},
      sender_delete = #{senderDelete,jdbcType=BIT},
      sender_read = #{senderRead,jdbcType=BIT},
      title = #{title,jdbcType=VARCHAR},
      for_message = #{forMessage,jdbcType=BIGINT},
      receiver = #{receiver,jdbcType=BIGINT},
      sender = #{sender,jdbcType=BIGINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baiyangdian.pojo.XxMessage" >
    update xx_message
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      ip = #{ip,jdbcType=VARCHAR},
      is_draft = #{isDraft,jdbcType=BIT},
      receiver_delete = #{receiverDelete,jdbcType=BIT},
      receiver_read = #{receiverRead,jdbcType=BIT},
      sender_delete = #{senderDelete,jdbcType=BIT},
      sender_read = #{senderRead,jdbcType=BIT},
      title = #{title,jdbcType=VARCHAR},
      for_message = #{forMessage,jdbcType=BIGINT},
      receiver = #{receiver,jdbcType=BIGINT},
      sender = #{sender,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>