<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiyangdian.mapper.XxPromotionProductCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.baiyangdian.pojo.XxPromotionProductCategoryKey" >
    <id column="promotions" property="promotions" jdbcType="BIGINT" />
    <id column="product_categories" property="productCategories" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    promotions, product_categories
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.baiyangdian.pojo.XxPromotionProductCategoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xx_promotion_product_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.baiyangdian.pojo.XxPromotionProductCategoryKey" >
    delete from xx_promotion_product_category
    where promotions = #{promotions,jdbcType=BIGINT}
      and product_categories = #{productCategories,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.baiyangdian.pojo.XxPromotionProductCategoryExample" >
    delete from xx_promotion_product_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.baiyangdian.pojo.XxPromotionProductCategoryKey" >
    insert into xx_promotion_product_category (promotions, product_categories)
    values (#{promotions,jdbcType=BIGINT}, #{productCategories,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.baiyangdian.pojo.XxPromotionProductCategoryKey" >
    insert into xx_promotion_product_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="promotions != null" >
        promotions,
      </if>
      <if test="productCategories != null" >
        product_categories,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="promotions != null" >
        #{promotions,jdbcType=BIGINT},
      </if>
      <if test="productCategories != null" >
        #{productCategories,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.baiyangdian.pojo.XxPromotionProductCategoryExample" resultType="java.lang.Integer" >
    select count(*) from xx_promotion_product_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update xx_promotion_product_category
    <set >
      <if test="record.promotions != null" >
        promotions = #{record.promotions,jdbcType=BIGINT},
      </if>
      <if test="record.productCategories != null" >
        product_categories = #{record.productCategories,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update xx_promotion_product_category
    set promotions = #{record.promotions,jdbcType=BIGINT},
      product_categories = #{record.productCategories,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>