<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiyangdian.mapper.XxShippingMapper" >
  <resultMap id="BaseResultMap" type="com.baiyangdian.pojo.XxShipping" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="consignee" property="consignee" jdbcType="VARCHAR" />
    <result column="delivery_corp" property="deliveryCorp" jdbcType="VARCHAR" />
    <result column="delivery_corp_code" property="deliveryCorpCode" jdbcType="VARCHAR" />
    <result column="delivery_corp_url" property="deliveryCorpUrl" jdbcType="VARCHAR" />
    <result column="freight" property="freight" jdbcType="DECIMAL" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="shipping_method" property="shippingMethod" jdbcType="VARCHAR" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="tracking_no" property="trackingNo" jdbcType="VARCHAR" />
    <result column="zip_code" property="zipCode" jdbcType="VARCHAR" />
    <result column="orders" property="orders" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_date, modify_date, address, area, consignee, delivery_corp, delivery_corp_code, 
    delivery_corp_url, freight, memo, operator, phone, shipping_method, sn, tracking_no, 
    zip_code, orders
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.baiyangdian.pojo.XxShippingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xx_shipping
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from xx_shipping
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from xx_shipping
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.baiyangdian.pojo.XxShippingExample" >
    delete from xx_shipping
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.baiyangdian.pojo.XxShipping" >
    insert into xx_shipping (id, create_date, modify_date, 
      address, area, consignee, 
      delivery_corp, delivery_corp_code, delivery_corp_url, 
      freight, memo, operator, 
      phone, shipping_method, sn, 
      tracking_no, zip_code, orders
      )
    values (#{id,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{address,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{consignee,jdbcType=VARCHAR}, 
      #{deliveryCorp,jdbcType=VARCHAR}, #{deliveryCorpCode,jdbcType=VARCHAR}, #{deliveryCorpUrl,jdbcType=VARCHAR}, 
      #{freight,jdbcType=DECIMAL}, #{memo,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{shippingMethod,jdbcType=VARCHAR}, #{sn,jdbcType=VARCHAR}, 
      #{trackingNo,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, #{orders,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.baiyangdian.pojo.XxShipping" >
    insert into xx_shipping
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="consignee != null" >
        consignee,
      </if>
      <if test="deliveryCorp != null" >
        delivery_corp,
      </if>
      <if test="deliveryCorpCode != null" >
        delivery_corp_code,
      </if>
      <if test="deliveryCorpUrl != null" >
        delivery_corp_url,
      </if>
      <if test="freight != null" >
        freight,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="shippingMethod != null" >
        shipping_method,
      </if>
      <if test="sn != null" >
        sn,
      </if>
      <if test="trackingNo != null" >
        tracking_no,
      </if>
      <if test="zipCode != null" >
        zip_code,
      </if>
      <if test="orders != null" >
        orders,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null" >
        #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="deliveryCorp != null" >
        #{deliveryCorp,jdbcType=VARCHAR},
      </if>
      <if test="deliveryCorpCode != null" >
        #{deliveryCorpCode,jdbcType=VARCHAR},
      </if>
      <if test="deliveryCorpUrl != null" >
        #{deliveryCorpUrl,jdbcType=VARCHAR},
      </if>
      <if test="freight != null" >
        #{freight,jdbcType=DECIMAL},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="shippingMethod != null" >
        #{shippingMethod,jdbcType=VARCHAR},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="trackingNo != null" >
        #{trackingNo,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.baiyangdian.pojo.XxShippingExample" resultType="java.lang.Integer" >
    select count(*) from xx_shipping
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update xx_shipping
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyDate != null" >
        modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.consignee != null" >
        consignee = #{record.consignee,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryCorp != null" >
        delivery_corp = #{record.deliveryCorp,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryCorpCode != null" >
        delivery_corp_code = #{record.deliveryCorpCode,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryCorpUrl != null" >
        delivery_corp_url = #{record.deliveryCorpUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.freight != null" >
        freight = #{record.freight,jdbcType=DECIMAL},
      </if>
      <if test="record.memo != null" >
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null" >
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.shippingMethod != null" >
        shipping_method = #{record.shippingMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.sn != null" >
        sn = #{record.sn,jdbcType=VARCHAR},
      </if>
      <if test="record.trackingNo != null" >
        tracking_no = #{record.trackingNo,jdbcType=VARCHAR},
      </if>
      <if test="record.zipCode != null" >
        zip_code = #{record.zipCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orders != null" >
        orders = #{record.orders,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update xx_shipping
    set id = #{record.id,jdbcType=BIGINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      address = #{record.address,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      consignee = #{record.consignee,jdbcType=VARCHAR},
      delivery_corp = #{record.deliveryCorp,jdbcType=VARCHAR},
      delivery_corp_code = #{record.deliveryCorpCode,jdbcType=VARCHAR},
      delivery_corp_url = #{record.deliveryCorpUrl,jdbcType=VARCHAR},
      freight = #{record.freight,jdbcType=DECIMAL},
      memo = #{record.memo,jdbcType=VARCHAR},
      operator = #{record.operator,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      shipping_method = #{record.shippingMethod,jdbcType=VARCHAR},
      sn = #{record.sn,jdbcType=VARCHAR},
      tracking_no = #{record.trackingNo,jdbcType=VARCHAR},
      zip_code = #{record.zipCode,jdbcType=VARCHAR},
      orders = #{record.orders,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.baiyangdian.pojo.XxShipping" >
    update xx_shipping
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null" >
        consignee = #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="deliveryCorp != null" >
        delivery_corp = #{deliveryCorp,jdbcType=VARCHAR},
      </if>
      <if test="deliveryCorpCode != null" >
        delivery_corp_code = #{deliveryCorpCode,jdbcType=VARCHAR},
      </if>
      <if test="deliveryCorpUrl != null" >
        delivery_corp_url = #{deliveryCorpUrl,jdbcType=VARCHAR},
      </if>
      <if test="freight != null" >
        freight = #{freight,jdbcType=DECIMAL},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="shippingMethod != null" >
        shipping_method = #{shippingMethod,jdbcType=VARCHAR},
      </if>
      <if test="sn != null" >
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="trackingNo != null" >
        tracking_no = #{trackingNo,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        zip_code = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baiyangdian.pojo.XxShipping" >
    update xx_shipping
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      address = #{address,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      consignee = #{consignee,jdbcType=VARCHAR},
      delivery_corp = #{deliveryCorp,jdbcType=VARCHAR},
      delivery_corp_code = #{deliveryCorpCode,jdbcType=VARCHAR},
      delivery_corp_url = #{deliveryCorpUrl,jdbcType=VARCHAR},
      freight = #{freight,jdbcType=DECIMAL},
      memo = #{memo,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      shipping_method = #{shippingMethod,jdbcType=VARCHAR},
      sn = #{sn,jdbcType=VARCHAR},
      tracking_no = #{trackingNo,jdbcType=VARCHAR},
      zip_code = #{zipCode,jdbcType=VARCHAR},
      orders = #{orders,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>